.container {
  margin: 2vw 0vw;
}
.container p:first-child {
  color: #156060;
  /* font-size: 2.2vw; */
  font-size: 3.2rem;
  font-family: Istok Web;
  font-weight: 700;
  text-decoration: underline;
  text-transform: capitalize;
  word-wrap: break-word;
}
.tab {
  padding: 1vw 0vw;
  margin-left: 5%;
  color: #757575;
  /* font-size: 1.1vw; */
  font-size: 1.6rem;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}
@media (max-width: 500px) {
  .container {
    margin: 12vw 0vw;
  }
}
