.mainContainer {
  width: 100%;
  /* overflow: hidden; */
}
.mainContainer h1 {
  margin: 0;
}
.mainContainer p {
  margin: 0;
}
.mainContainer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailsOuterContainer {
  display: inline-block;
  width: 90%;
  margin-top: 13rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  padding: 3.5rem 0rem;
  position: relative;
}
/* .videoFrame {
  width: 80vw;
  height: 37vw;
} */
.mainVideoFrame iframe {
  width: 100%;
  /* height: 100%; */
}
.detailsInnerContainer {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.detailsInnerContainer .title {
  color: #0a4a4a;
  /* font-size: 2.7vw; */
  font-size: 3rem;
  font-family: Istok Web;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  margin: 1vw 0vw;
}
.courseInfoBox {
  width: 30%;
  border: 2px solid #0e8585;
  display: inline-block;
  padding: 1.5vw;
  padding-bottom: 5vw;
  border-radius: 1rem;
  position: relative;
  margin: 2rem 0rem;
}
.courseInfo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1vw;
  color: #2a272d;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  margin: 0.8vw 0vw;
}
.free {
  width: 45%;
  text-align: center;
  position: absolute;
  color: red;
  bottom: 0;
  right: 0;
  color: white;
  background-color: red;
  /* font-size: 2vw; */
  font-size: 3.2rem;
  font-family: Istok Web;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  border-bottom-right-radius: 0.85rem;
  padding: 1vw 0vw;
}
.courseInfo span {
  color: #0e8585;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
}
.courseIcon {
  /* font-size: 1.8vw; */
  font-size: 2.5rem;
}
/* .detailsInnerContainer button { */
.enrollButton {
  width: 25%;
  cursor: pointer;
  background-color: #009494;
  border: none;
  outline: none;
  color: white;
  /* font-size: 2.4vw; */
  font-size: 3.6rem;
  font-family: Istok Web;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  padding: 0.8vw 0vw;
  transform: translateX(-5vw);
  border-radius: 0.5rem;
}
.rating {
  display: flex;
  margin-top: 0.5vw;
  transform: translate(-0.5vw, -8vw);
}
.rating p {
  color: #868686;
  /* font-size: 1.5vw; */
  font-size: 1.8rem;
  font-style: italic;
}
.back {
  color: #178c8c;
  font-size: 2.4rem;
  font-family: Inter;
  font-weight: 700;
  text-decoration: underline;
  word-wrap: break-word;
  padding-left: 1vw;
}
.logo {
  /* display:; */
  text-align: left;
  position: absolute;
  padding-bottom: 3vw;
  bottom: -4%;
  right: 0;
  transform: translateX(4vw);
  /* width: 25%; */
  font-size: 2.2vw;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
  background: #17acac;
  background: linear-gradient(to bottom, #17acac 42%, #000000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 20%;
}

@media (max-width: 500px) {
  /* .detailsInnerContainer {
    width: 95%;
  }
  .detailsOuterContainer {
    width: 95%;
  } */
  .mainContainer section {
    flex-direction: column;
    align-items: center;
    gap: 7vw;
  }
  .courseInfoBox {
    width: 90%;
    padding: 3vw;
    padding-bottom: 12vw;
    /* justify-content: center;
    align-items: center; */
  }
  .courseInfo {
    margin: 4vw 0vw;
  }
  .rating {
    transform: translate(0vw, 0vw);
    justify-content: center;
    align-items: center;
  }
  .enrollButton {
    width: 70%;
    transform: translateX(0vw);
  }
  .detailsInnerContainer .title {
    margin-top: 5vw;
  }
  .logo {
    bottom: -3.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .free {
    border-bottom-right-radius: 0.7rem;
  }
  .title {
    padding: 5vw 0vw;
  }
  .mainVideoFrame iframe {
    width: 100%;
    height: 100%; /* added 100% height so that video doesnt take more height than needed in responsive*/
  }
}
