html {
  font-size: 62.5%;
}
@media (max-width: 1200px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: "Inria Sans", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Istok Web", sans-serif;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html ::-webkit-scrollbar {
  width: 1rem !important;
}
html ::-webkit-scrollbar-track {
  background-color: black !important;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2c7575 !important;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #3ca3a3 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
